extends base

block vars
   - var title = "Register"

block body
   h1 Create an Account
   form(method="post")

      span First Name: 
      input(type="text", name="firstName", required=true)

      span Last Name:
      input(type-"text", name="lastName", required=true)


      span Username:
      input(type="text", name="userName", required=true)

      span Email:
      input(type="text", name="email", required=true)

      span Password:
      input(type="password", name="password", required=true)

      br
      input(type="submit")